body {
  background-color: lightgrey;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title,
.copyright {
  text-align: center;
  margin: 1em;
  font-family: "Sono", sans-serif;
}
.title {
  font-size: 35px;
}

.copyright {
  margin-top: 2.5em;
  font-size: 10px;
}
